@media screen and (max-width: 768px) {
    #header {
        overflow: hidden;
    }
    #nav {
        display: block;
        width: 100%;
        & > li:first-child {
            display: inline-block;
        }
        .subnav {
            position: inherit;
            background: #000;
            a {
                color: #fff;
                padding: 0 40px;
            }
        }
    }

    .search {
        display: none;
    }
    .header__bar {
        display: block;
    }
}
